body {
    background-color: black;
    background-image: url("space.jpg");
    background-size: cover;
}

#earth {
    float: left;
    margin-top: 32%;
    width: 20%;
    -webkit-animation: rotate 120s infinite;
    animation-timing-function: linear;
    position: relative;
    z-index: 1;
    background-image: url("space.jpg");
}

#moon {
    float: right;
    width: 15%;
    -webkit-animation: rotate 120s infinite;
    animation-timing-function: linear;
    position: relative;
    z-index: 1;
    background-image: url("space.jpg");
}

#rocket {
    height: 15%;
    position: absolute;
    margin-left: 6.5%;
    margin-top: 25%;
    z-index: 2;
    -webkit-animation: blastoff 20s 1;
    background-image: url("space.jpg");
}

@keyframes blastoff {
    10% {margin-top: 1%;}
    20% { transform: rotate(45deg);}
    60% { margin-left: 85.5%; margin-top: 4%;}
    70% { height: 5%;}
    80% { transform: rotate(-90deg);}
}

@keyframes rotate {
    100% {transform: rotate(360deg)}
}